
.health-articles > h1{
    margin-bottom: 20px;
}

.health-articles > div::-webkit-scrollbar{
    display: none;
}

.health-articles > div{
    display: flex;
    overflow: auto;
    padding: 1px;
    gap: 30px;
}

.health-articles > div > div:hover{
    box-shadow: var(--shadow);
}

.health-articles > div > div{
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow-border);
    border-radius: 8px;
    margin-bottom: 5px;
}

.health-articles > div img{
    height: 180px;
    border-radius: 8px 8px 0 0;
    aspect-ratio: 1.3;
    object-fit: cover;
}

.health-articles > div p{
    margin: 14px 20px;
    font-size: 15px;
}

