.homepage_posting_container {
    display: flex;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.47);
    padding: 15px;
    justify-content: space-between;
    border-radius: 25px;
    align-items: center;
    border-radius: 25px;
    background-color: #f1f1f1;
  }

  .homepage_posting_profileContainer{
    margin-right: 10px;
  }

  .homepage_posting_profileImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .homepage_posting_messageContainer{
    background-color: #fff;
    border-radius: 25px;
    height: 40px;
    width: 80%;
    border: 2px solid rgba(0, 0, 0, 0.67);
    margin-right: 10px;
    align-items: center;
  }

  .homepage_posting_messageText{
    margin: 0;
    font-size: '16px';
    border-radius: 25px;
    padding: 10px 20px;
    width: 100%;
    border: none;
    height: 100%;
    overflow-wrap: break-word;
    resize: none;
    white-space: pre-wrap;
  }

  .homepage_posting_messageText::-webkit-scrollbar{
    display: none;
  }
  .homepage_posting_post-button {
    background-color: #afafaf;
    color: #000;
    font-size: large;
    font-weight: bolder;
    border: none;
    padding: 5px 10px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
  }
  .homepage_posting_post-button:hover {
    background-color: #8f8f8f;
  }