.homepage_web_title{
    width: max-content;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .homepage_web_c1{
    color:black;
  }
  
  .homepage_web_c2{
    color:#C42121;
  }